* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;

}
body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("login-img-background.svg");
}
.Dashboard {
  display: flex;
  /* Use flexbox */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  background-image: url("login-img-background.svg");
  background-position: 1%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 120%;
  padding-bottom: 186px;
  padding-top: 227px;
  height: 100vh;
}
.welcome-text-center-left {
  position: absolute;
  top: 20%; /* Vertically center it */  
  right:180%; /* Adjust the left position as needed */  
  transform: translate(-50%, -50%);
  -webkit-text-fill-color: transparent;
  background: transparent linear-gradient(172deg,#ed7a1a 50%,#25870a 77%) 0 0 no-repeat padding-box;
  -webkit-background-clip: text;
  color: #000;
  font-family: Lato,sans-serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: .3px;
  line-height: 55px;
  margin-bottom: 25px;
  max-width: 25pc;
  text-align: left;
  width: 100%;
}


form {
  width: 210rem;
  height: 32rem;
  max-width: 25rem;
  margin-top: 100px;
  margin-left: 100px;
  position:static;
  padding: 50px 35px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}

form * {
  border: none;
  outline: none;
  color: navy;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.inputGroup .inputWithIcon {
  display: flex;
  align-items: center;
}

.inputGroup .inputWithIcon i {
  margin-top: 16px;
  color: darkblue; /* Adjust the icon color */
  
}

.inputGroup label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px; /* Adjust the left margin to make space for the icon */
}

.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  background-clip: padding-box;
  width: 92%;
  height: 50px;
  padding-left: 50px; /* Ensure space for the icon */
  font-size: 14px;
  font-weight: 300;
  border-radius: 25px;
  border-color: blue;
  font: inherit;

  background-color: rgba(248, 245, 245, 1);
}

.inputGroup.password-group input[type="password"] {
  padding-right: 40px; /* Add space for the eye icon */
}

.inputGroup.password-group i {
  right: 10px; /* Adjust the right position as needed */
}

/* .inputGroup {
  position: relative;
  margin-top: 20px;
}

.inputGroup label {
  display: block;
  margin-top: 20px;
  font-size: 16px; 
  font-weight: 500;
}*/

.inputGroup input {
  width: 90%;
  height: 50px;
  padding-left: 43px;
  font-weight: 300;
  font-size: 14px;
  border-radius: 25px;
  border-color: blue;
  background-color: rgba(248, 245, 245, 1);
}

/* .inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithIcon i {
  position: absolute;
  left: 10px;
  /* Adjust the left position as needed 
}*/

.inputWithIcon input[type="email"],
.inputWithIcon input[type="password"] {
  width: 100%;
  height: 50px;
  padding-left: 25px;
  /* Ensure space for the icon */
  font-size: 14px;
  font-weight: 300;
  border-radius: 25px;
  border-color: blue;
  background-color: rgba(248, 245, 245, 1);
}

.inputGroup.password-group input[type="password"] {
  padding-right: 40px;
  /* Add space for the eye icon */
}

.inputGroup.password-group i {
  right: 10px;
  /* Adjust the right position as needed */
} */

::placeholder {
  color: black;
}
.inputWithIcon i.fas.fa-solid.fa-right-to-bracket {
  position: absolute;
  left: 10px;
}

.inFormBackground {
  margin: 0rem 2rem;
  margin-top: 16rem;
  margin-left: 40rem;
}

.inFormBackground,
.inLoginForm {
  width: 20rem;
  height: 30rem;
  max-width: 320px;
  position: relative;
}

.iconDropdown {
  position: relative;
  display: inline-block;
}

.iconDropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0.5em 2em 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.iconDropdown i {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
}

.remark {
  color: red; /* Adjust the color to your preference */
  font-size: 14px;
  display: none; /* Initially hide the remark */
  margin-top: 5px;
}




.submitForm {
  width: 100%;
  z-index: 1;
  margin-top: 30px;
  color: green;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background: orange;
}

.submitForm::before {
  content: "";
  z-index: -1;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  color: orange;
  border-radius: 5px;
  position: absolute;
  transition: left 0.4s, color 0.4s;
  background-color: green;
}

.submitForm:hover {
  color: orange;
}

.submitForm:hover::before {
  left: 0%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.forgot-pass {
  margin-top: 10px;
}

.Signup {
  color: #2a4dc0;
  text-decoration: underline;
}
